<section>
    <h1 class="main__heading">{{ error.title }}</h1>
    <div class="aspect-ratio">
        <div class="aspect-ratio__item">
            <div class="aspect-ratio__item-image" style="background-image: url('/assets/images/dinky.png');">
            </div>
        </div>
    </div>
    <h2>Our bad! Something went wrong on our end. We will get our best men on it straight away!</h2>
    <p>{{ error.message }}</p>
</section>