<section>
    {{!-- <h1 class="main__heading" id="top">Texas Help<sup><sup>'</sup></sup>em</h1> --}}
    <div class="card-table card-table--private">
        <p class="card-table__title">What cards are in play?</h2>
        <div class="card-table__card-selector" id="card-selector">

        </div>
    </div>
</section>