.card-table {

    /** ***************************************************** */
    /** non-js rendered stuff start                         * */
    /** ***************************************************** */

    .card-table__card-selector-input {
        padding: 1rem;
        margin: 2rem;
        font-size: 2rem;
    }

    /** ***************************************************** */
    /** non-js rendered stuff end                           * */
    /** ***************************************************** */

    .card-table__title {
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }
    
    .card-table__card-selector-selectors {
        text-align: center;
    }
    
    .card-table__card-selector-selectors-item {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    .card-table__card-selector-selectors-item-select {
        padding: 10px;
    }

    .card-table__card-selector-current-selection {
        text-align: center;
    }

    .card-table__card-selector-current-selection-image {
        display: inline-block;
        max-width: 160px;
        cursor: pointer;
    }

    .card-table__card-selector-entire-selection {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #086D2B;
        display: flex;
        justify-content: space-around;
    }
    .card-table__card-selector-actions {
        position: fixed;
        bottom: 60px;
        left: 0;
        width: 100%;
        background: #086D2B;
        display: flex;
        justify-content: space-around;

        &.card-table__card-selector-actions--disabled {
            display: none;
        }

        .card-table__card-selector-actions-action {
            display: inline-block;
            padding: 10px;
            font-size: 2rem;
            color: #FFF;
            background: #000;
            text-align: center;
        }
    }

    // .card-table__card-selector-entire-selection-item {
        
    // }

    .card-table__card-selector-entire-selection-item-image {
        display: block;
        height: 60px;
    }
}