.site-main {
    padding: 0 1em;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;

    @media #{$mqXLargeAndUp} {
        margin-top: 50px;
    }
}
.main__heading {
    text-align: center;
}