<header class="site-header" id="site-header">
    <h1 class="site-header__heading">Texas Help<sup><sup>'</sup></sup>em</h1>
    <a href="/" class="site-header__anchor">
        <img src="/assets/images/logo.jpg" class="site-header__image" alt="Texas Help'em" />
    </a>
</header>