@font-face {
    font-family: 'got';
    src: url('/assets/fonts/got/got.woff2') format('woff2'),
         url('/assets/fonts/got/got.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}